
    body
    {
        margin-left:auto; 
        margin-right:auto; 
        background-image: url("pictures/coro_3.jpg");
            background-attachment: fixed;
            background-color: #008080;  
            background-position: center;
            background-repeat: no-repeat; 
            background-size: 700x 700px;  
    } 

    .header {
        text-align:center; 
        height:60px; 
        width:90%; 
        margin-left:auto; 
        position:fixed;
        background:#008080; 
        border:1px solid #555;  
    }

    .content {
        width:80%; 
        background:#01DFD7; 
        border:1px solid #111;
        margin: auto;  
    }

    .footer {
        position: floating;  
        width:85%; 
            margin-left:7.5%; 
        bottom: 1; 
        padding-top: 10px;
        padding-bottom: 10px;  
        background-color: #008080;  
        text-align: center;    
    }

    h2 {
        text-shadow: 0 1px 0 #ccc,
                     0 2px 0 #c9c9c9,
                     0 3px 0 #bbb,
                     0 4px 0 #b9b9b9,
                     0 5px 0 #aaa,
                     0 6px 1px rgba(0,0,0,.1),
                     0 0 5px rgba(0,0,0,.1),
                     0 1px 3px rgba(0,0,0,.3),
                     0 3px 5px rgba(0,0,0,.2),
                     0 5px 10px rgba(0,0,0,.25),
                     0 10px 10px rgba(0,0,0,.2),
                     0 20px 20px rgba(0,0,0,.15);
    }

  